
$blueprint-grid-columns : 20;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 20px;
$font-color             : #333;

$sidebar-columns: 5;
$bs-padding: 10px;

$default-text-shadow-color: rgba(#999, 1);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

@import "compass/reset";
@import "compass/utilities";
@import "blueprint";
@import "blueprint/link-icons";
// @import "blueprint/typography";
@import "compass/css3";

// Sprite

// $link_icons-layout:smart;
$link_icons-spacing: 15px;
@import "link_icons/*.png";
@include all-link_icons-sprites;

@mixin icons-block-sprite($sprite) {
    @include link_icons-sprite($sprite, false, 10px , 10px);
    height: link_icons-sprite-height($sprite) + $link_icons-spacing;
    width: link_icons-sprite-width($sprite) + $link_icons-spacing;
    display: inline-block;
}

