
// @include link_icons-sprites('feed');

body {
    @include blueprint-typography(true);
}

.wrap {
    margin: 30px auto;
    @include container;
    @include single-box-shadow;
    @include border-radius(1em, 1em);
}

.header {
    background: black;
    padding-left:20px;
    @include border-top-radius(1em);
    overflow: auto;
    h1 {
        color: white;
        padding: $bs-padding;
        margin-bottom: 0;
    }
}

.container {
    background: blue;
    @include legacy-pie-clearfix;
    .content {
        @include column($blueprint-grid-columns - $sidebar-columns);
        @include box-sizing(border-box);
        // @include showgrid;
        padding: $bs-padding;
        background-color: #fff;
        ul {
            padding: 50px;
            li {
                margin:10px 0;
                padding-left: 20px;
            }
        }
    }
    .sidebar {
        @include column($sidebar-columns, true);
        @include box-sizing(border-box);
        padding: $bs-padding;
        background-color: yellow;
    }
}

.footer {
    background: red;
    @include legacy-pie-clearfix;
    // text-align: right;
    padding:$bs-padding;
    @include border-bottom-radius(1em);
    .copyright {
        padding-right: 20px;
        float: right;
        color: #fff;
    }
    .icon {
        @include icons-block-sprite(feed);
    }
}

.test-link {
    @include link-icon('email.png');
    &:hover {
        @include link-icon('visited.png');
    }
}
